<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>時制穴埋め問題自動作成</title>
</head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<body>
    <p><a href="/">トップページ</a></p>
    <h1>時制穴埋め問題作成支援</h1>
    <p>英文テキストから時制問題を作成するのを支援します。
        カッコ内に表示されているのは動詞の現在形です。適切に時制を変化させてください。時制をmasterしよう！
        </p>
    
        <p><a href="https://en.wikipedia.org/wiki/Main_Page">サンプルテキスト(wikipedia top)</a></p>

    
    <textarea id = 'material' placeholder="ここに英文を入力してください" name="material" rows="40" cols="100"></textarea>

    <div class="text-center my-4">
        <button onclick="submit_material()" type="button" class="btn btn-primary btn-lg">穴埋め問題を生成</button> 
    </div>
    
    
    <textarea id = "quiz" name="quiz" placeholder="ここに作成された穴埋め問題が表示されます" rows="40" cols="100"></textarea> <br>
    <!--
    <button>submit your answer</button> <br>

    <div>正解率</div>
    -->

    
</body>
<script>
    function submit_material(){
        let material = ($('#material').val());
        let data = {'material':material};
        json = JSON.stringify(data);  // object型からJSON文字列(string型)に変換
        $.ajax({
            type: 'POST',
            url: '/make_tense_quiz',
            data: json,
            contentType: 'application/json',
            success: function(data) {
                $("#quiz").val(data['quiz'])
            },
            error: function(msg) {
                alert('server error');
            }
        });


        
  
 

    
    }
</script>

<style>
textarea {
    display: block;
    width:90%;
    height:100px;
    margin: auto;
}

p {
    padding : 10px;
}


</style>
</html>